@page "/local-tinymce-install"
@rendermode InteractiveServer
@inject IConfiguration Configuration

<PageTitle>Local TinyMCE Install</PageTitle>

<h1>Local TinyMCE Install</h1>

<p>Shows how to load tinymce from a local install and specify the LicenseKey</p>

<Editor
  ScriptSrc="lib/tinymce/tinymce.min.js"
  LicenseKey="gpl"
/>

