@page "/readonly-disable"
@rendermode InteractiveServer
@using System.ComponentModel.DataAnnotations
@inject IConfiguration Configuration

<PageTitle>Readonly and disabled</PageTitle>

<h1>Readonly and disable</h1>

<div class="content">
  <h3>Readonly</h3>
  <Editor
    License="gpl"
    ApiKey="@Configuration["BlazorDemoApp:ApiKey"]"
    @bind-Readonly=_readonly
    ScriptSrc="@scriptUrl"
  />
  <label><input type="checkbox" @bind="_readonly"> readonly</label>
</div>

<div class="content">
  <h3>Disable</h3>
  <Editor
    License="gpl"
    ApiKey="@Configuration["BlazorDemoApp:ApiKey"]"
    @bind-Disable=_disable
    ScriptSrc="@scriptUrl"
  />
  <label><input type="checkbox" @bind="_disable"> disable</label>
</div>

@code {
  private bool _oldTinyMce = false;
  private string? scriptUrl;
  private bool _disable = true;
  private bool _readonly = true;

  protected override void OnInitialized() {
    var apiKey = Configuration["BlazorDemoApp:ApiKey"];
    scriptUrl = _oldTinyMce ? $"https://cdn.tiny.cloud/1/{apiKey}/tinymce/7.5/tinymce.min.js" : null;
  }
}

